.git
.github
.vscode
virtualEnvironment
**/node_modules
datafiles
db_backups
media
static
*.pyc
*.html.py
__pycache__
.coverage
coverage.xml
pytest_cache
.pytest_cache
*.log
*.backup
*.sql
env/
venv/
docs/
.env
.env.*
*.pem
*.key
secrets/