{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-white dark:bg-gray-900">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/sweet_alert.min.css' %}">
    {% block extra_css %} {% endblock %}
    {% tailwind_css %}
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="min-h-screen bg-slate-50 text-slate-900 antialiased">
    <main class="min-h-screen px-4 py-10 sm:px-6 lg:px-8">
        <div class="mx-auto flex min-h-[calc(100vh-5rem)] w-full max-w-5xl items-center justify-center">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="{% static 'js/alpine_min.js' %}"></script>
    <script src="{% static 'js/sweet_alert_min.js' %}"></script>
    <script src="{% static 'js/htmx_min.js' %}"></script>
    {% include 'components/scripts/site-scripts.html' %}
</body>

</html>
